# User-specific stuff:
/.idea/**/workspace.xml
/.idea/**/tasks.xml
/.idea/dictionaries

# Sensitive or high-churn files:
/.idea/**/dataSources/
/.idea/**/dataSources.ids
/.idea/**/dataSources.xml
/.idea/**/dataSources.local.xml
/.idea/**/sqlDataSources.xml
/.idea/**/dynamic.xml
/.idea/**/uiDesigner.xml

# Gradle:
/.idea/**/gradle.xml
/.idea/**/libraries

/daycare.log

/frontend/node_modules

/backend/target
/backend/backend.iml
/backend/daycare.log


# User-specific stuff:
/backend/.idea/**/workspace.xml
/backend/.idea/**/tasks.xml
/backend/.idea/dictionaries
/backend/.idea/libraries
