<div class="col-md-6 col-md-offset-3">
    <mat-list>
        <h2 mat-header>Children</h2>
        <mat-list-item *ngFor="let c of children;">
            <mat-icon md-list-avatar color="primary" (click)="select(c.id)">face</mat-icon>
            <h4 mat-line>{{c.firstname}} {{ c.lastname}}</h4>
        </mat-list-item>
    </mat-list>
    <div>
        <h2>Sumup : {{ sumup.day | date:'EEEE d MMMM'}}</h2>
        <div>Appetite : <img src="{{ getImage(child.selectedAppetiteId) }}">
        </div>
        <div>Mood : <img src="{{ getImage(child.selectedMoodId) }}">
        </div>
        <div>Sleep : <img src="{{ getImage(child.selectedSleepId) }}">
        </div>
        <div>
            Comment : {{sumup.comment}}
        </div>
    </div>
    <button *ngIf="hasPrevious()" type="button" mat-fab color="primary" (click)="previous()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button *ngIf="hasNext()" type="button" mat-fab color="primary" (click)="next()">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
</div>