<div class="col-md-6 col-md-offset-3">
    <h1>{{daycare.name}}</h1>
    <mat-list>
        <h2 mat-header>Children</h2>
        <mat-list-item *ngFor="let c of children; let i = index;">
            <mat-icon mat-list-avatar color="primary">face</mat-icon>
            <h4 mat-line>{{c.firstname}} {{ c.lastname}}</h4>
            <!--<p md-line> dsdsd </p>-->
            <button mat-icon-button color="primary" (click)="edit(i)" [routerLink]="['/daycare/:idDaycare/children/:idChildren/sumups/:idSumups']">
                <mat-icon>mode_edit</mat-icon>
            </button>

        </mat-list-item>
    </mat-list>
</div>