<div class="col-md-6 col-md-offset-3">
    <mat-list>
        <h2 mat-header>Children</h2>
        <mat-list-item *ngFor="let c of children; let i = index;">
            <mat-icon mat-list-avatar color="primary">face</mat-icon>
            <h4 mat-line>{{c.firstname}} {{ c.lastname}}</h4>
            <button mat-icon-button color="primary" [routerLink]="['/daycare/',idDayCare,{ outlets: { undernavbar: 'children/'+c.id+'/sumups'} }]">
                <mat-icon>mode_edit</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
</div>