<div class="register">
    <h3>Registration</h3>
    <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <mat-form-field>
                <input matInput placeholder="Email" id="username" [(ngModel)]="username" [email]="true" required>
            </mat-form-field>
            <div *ngIf="f.submitted && username.value==''" class="help-block">Email is required</div>
            <div *ngIf="f.submitted && username.errors?.email && username.value!=''" class="help-block">This should be
                an email
            </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstname.valid }">
            <mat-form-field>
                <input matInput placeholder="First Name" id="firstname" [(ngModel)]="firstname" required>
            </mat-form-field>
            <div *ngIf="f.submitted && !firstname.valid" class="help-block">Firstname is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastname.valid }">
            <mat-form-field>
                <input matInput placeholder="Last Name" id="lastname" [(ngModel)]="lastname" required>
            </mat-form-field>
            <div *ngIf="f.submitted && !lastname.valid" class="help-block">Last Name is required</div>
        </div>
        <div class="form-group">
            <button mat-fab color="primary">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </form>

</div>