<div class="col-md-6 col-md-offset-3">
    <h2>Administration Children</h2>
    <mat-list>
        <h3 mat-header>Children</h3>
        <mat-list-item *ngFor="let c of children; let i = index;">
            <mat-icon mat-list-avatar color="primary">face</mat-icon>
            <h4 mat-line>{{c.firstname}} {{ c.lastname}}</h4>
            <!--<p mat-line> dsdsd </p>-->
            <button mat-icon-button color="primary" (click)="edit(i)" [routerLink]="['/daycare/'+daycare.id,{ outlets: { undernavbar: 'admin/'+idAdmin+'/children/'+c.id+'/edit'}}]" >
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="remove(i)">
                <mat-icon>remove</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
    <button mat-fab color="primary" [routerLink]="['/daycare/'+daycare.id,{ outlets: { undernavbar: 'admin/'+idAdmin+'/children/create'} }]">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="primary" [routerLink]="['/daycareadmin']">
        <mat-icon>cancel</mat-icon>
    </button>
</div>