<div class="col-md-6 col-md-offset-3">
    <h3>Administration Users</h3>
    <mat-list>
        <ng-container >
            <mat-checkbox class="example-margin"  *ngFor="let role of roles; let i = index;"  color="primary" [checked]="role.checked"
                          (change)="role.checked = !role.checked">
                {{ toLowercaseExceptFirstCharacter(role.name) }}
            </mat-checkbox>
            <br>
        </ng-container>
    </mat-list>
    <br>
    <form name="form" (ngSubmit)="f.form.valid && create()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <mat-form-field>
                <input matInput placeholder="Email" name="username" [(ngModel)]="user.username" [email]="true" required >
            </mat-form-field>
            <div *ngIf="f.submitted && username.value==''" class="help-block">Email is required</div>
            <div *ngIf="f.submitted && username.errors?.email && username.value!=''" class="help-block">This should be an email</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstname.valid }">
            <mat-form-field>
                <input matInput placeholder="First Name" name="firstname" [(ngModel)]="user.firstName" required >
            </mat-form-field>
            <div *ngIf="f.submitted && !firstname.valid" class="help-block">Firstname is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastname.valid }">
            <mat-form-field>
                <input matInput placeholder="Last Name" name="lastname" [(ngModel)]="user.lastName" required >
            </mat-form-field>
            <div *ngIf="f.submitted && !lastname.valid" class="help-block">Last Name is required</div>
        </div>
        <div class="form-group">
            <button mat-icon-button color="primary" >
                <mat-icon>check circle</mat-icon>
            </button>
            <button mat-icon-button color="primary" [routerLink]="['/daycare', idDaycare, { outlets: { undernavbar: 'admin/'+idAdmin+'/users' } }]">
                <mat-icon>cancel</mat-icon>
            </button>
        </div>
    </form>

</div>