<div class="col-md-6 col-md-offset-3">
    <h2>
        <mat-icon color="primary">face</mat-icon> {{ child.firstname }} {{ child.lastname }}
    </h2>
    <div>
        <h4>Sumup : {{ sumup.day | date:'EEEE d MMMM'}}</h4>
        <div>Appetite :
            <mat-radio-group>
                <mat-radio-button value="{{value}}" *ngFor="let value of appetites; let i = index; "><img src="/images/{{ getImage(value) }}"></mat-radio-button>
            </mat-radio-group>
        </div>
        <div>Mood :
            <mat-radio-group>
                <mat-radio-button value="{{value}}" *ngFor="let value of moods; let i = index; "><img src="/images/{{ getImage(value) }}"></mat-radio-button>
            </mat-radio-group>
        </div>
        <div>Sleep :
            <mat-radio-group>
                <mat-radio-button value="{{value}}" *ngFor="let value of sleeps; let i = index; "><img src="/images/{{ getImage(value) }}"></mat-radio-button>
            </mat-radio-group>
        </div>
        <div>
            Comment : {{sumup.comment}}
        </div>
    </div>
    <button mat-fab color="primary">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-fab color="primary">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-fab color="primary">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
</div>